{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <h4>Change password</h4>
    <br>
    <br>
    <form action="/changepassword" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="currentpassword" name="currentpassword" placeholder="Current password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="newpassword" name="newpassword" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="newconfirmation" name="newconfirmation" placeholder="New password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
