{% extends "layout.html" %}

{% block title %}
    Location
{% endblock %}

{% block main %}
    <h4>Location</h4>
    <br>
    <br>
    <form action="/setlocation" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="city" name="city"
                placeholder="Enter a city name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search locations</button>
    </form>
    <br>
    <br>
    <h3>{{ geocoding_data|length }} locations found</h3>
    {% for result in geocoding_data %}
        <form id="result1" action="/savelocation" method="post">
            <input type="hidden" name="location_name" id="location_name"
                value="{{result.name}} ({{result.state}}, {{result.country}})">
            <input type="hidden" name="location_lat" id="location_lat" value="{{result.lat}}">
            <input type="hidden" name="location_lon" id="location_lon" value="{{result.lon}}">
            <button class="btn btn-light" type="submit">{{result.name}} ({{result.state}}, {{result.country}}) &rarr;</button>
        </form>
        <br>
    {% endfor %}
{% endblock %}



